[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf2 = "*"
aiohappyeyeballs = "==2.4.0"
aiohttp = "*"
aiosignal = "*"
annotated-types = "*"
anyio = "*"
attrs = "*"
blinker = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
flask = "*"
frozenlist = "*"
greenlet = "*"
h11 = "*"
httpcore = "*"
httpx = "*"
idna = "*"
itsdangerous = "*"
jinja2 = "*"
jsonpatch = "*"
jsonpointer = "*"
langchain = "*"
langchain-core = "*"
langchain-text-splitters = "*"
langsmith = "*"
markupsafe = "*"
multidict = "*"
numpy = "*"
orjson = "*"
packaging = "*"
pydantic = "*"
pydantic-core = "*"
pyyaml = "*"
requests = "*"
sniffio = "*"
sqlalchemy = "*"
tenacity = "*"
typing-extensions = "*"
urllib3 = "*"
werkzeug = "*"
yarl = "*"

[dev-packages]

[requires]
python_version = "3.10"
